<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Méteo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/weather.css">
</head>
<body>
<div class="topnav">
<% if (page=='home'){ %>
  <a class="active" href="/">Home</a>
  <a href="/location">Location</a>
<% } else  {%>
  <a href="/">Home</a>
  <a class="active" href="/location">Location</a>

<%}%>

</div>
