<div>
<%- include partials/header -%>
<div class="container">



 <form class="location" action="/" method="post">
   <input type="text" name="city" value=<%=city%> placeholder="City, state, country Code">
   <input type="hidden" name="day" value="today">
   <button class='btn-group button' type="submit" name="changeLocation">Change Location</button>
 </form>

<<<<<<< HEAD
<%- include partials/footer -%>
 </div>
=======

</div>
<%- include partials/footer -%>
>>>>>>> 414475cd687d0f9911286e3063a0ee471100f17b
