body {
  background-image: url("/images/bg-image.JPG");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  color: white;
  padding:0;
  margin:0;
  height: 100%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 2rem;
}

.button {
  display:inline-block;
  border: none;
  margin:0;
  background-color: black;
  opacity:40%;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.container{
    margin:auto;
}
.short-term{
   margin: auto;
   text-align: center;
   padding-top:50px;
}
.center{
   text-align: center;
}

.big-icon {
  height: 200px;
  width: 200px;
  padding:20px 20px;
}

.medium-icon {
  height:90px;
  width:90px;
  padding:0px 20px;
}

.degre:after {
  content: " \00b0 C"
}

.iflex{
  display:inline-flex;
  flex-direction:row;

}
.flexitem-align-top{
  self-align:top;
}
.text-align-left{
  text-align:left;
}

.long-term{
  flex-direction:column;
  border:2px solid black;
}

.topnav, .button {
  background-color: black;
  opacity:40%;
   overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  display:inline-block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 1.25rem;
}

/* Change the color of links on hover */
.topnav a:hover:not(.active) {
  background-color: white;
  color: black;
}



.button:hover:not(.active) {
  background-color: black;
  opacity:30%;
  color: white;
}

/* Add a color to the active/current link */
.active {
  background-color: black;
  opacity:70%;
  color: white;
}

.current-weather{
  display:inline-flex;
  flex-direction: column;
}
.panel-long-term{
  /*border:2px solid red;*/
  display:inline-flex;
  flex-direction: column;
}

.long-term-item{

  background-color:black;
  opacity: 40%;
  padding:10px;
  margin:1px;
  border:1px solid black;

}
.padding20{
  padding:20px;
}

.footer{
  position:fixed;
  width:100%;
  bottom:0;
  background-color: black;
  opacity: 60%;
}

.panel-left{


  align-items:center-top;
}
.panel-right{
  align-self:flex-end;
/*  margin-right: 50px; */
/*  border:2px solid red;*/

}
.main{
/*  border:10px solid blue;*/
  display:flex;
  flex-direction: row;
  align-items:center-top;
  width:100%

}
.error, .location{
  padding:20px;
}
