body {
  background-image: url("/images/bg-image.JPG");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  color: white;
  padding:0;
  margin:0;
}
h1{
  margin:5px;
  font-size: 5rem;
}
h2{
  margin:5px;
  font-size: 4rem;
}
h3{
  margin:5px;
  font-size: 3rem;
}
.big-icon{
  width:20rem;
}
.container{
  margin:auto;
  padding:5px;
  text-align:center;
}
.current-data{
  display:flex;
  item-align:flex-start;
  padding:20px 20px;
  }
.current-weather{
  display:inline-block;
  }
.sun-cycle{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
  margin-top:10px;
  font-size:1.15rem;
}
.sun-time{
  background-color: rgba(0, 0, 0, 0.45);
  padding:6px 12px;
  border-radius:20px;
  letter-spacing:0.5px;
}
.sun-time strong{
  margin-left:6px;
}

.degre:after {
  content: "\00b0 C"
}

.topnav {
  background-color: #224c65;
   overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  display:inline-block;
  color: white;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 1.25rem;
}

/* Change the color of links on hover */
.topnav a:hover:not(.active) {
  background-color: #497285;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2b5874;
  color: white;
}

/*
div .btn-group{
  margin:0;
  padding:0;
  border-style: none;
}
.current-data{
  text-align: center;
}

.current-group {
    display:inline-block;
}

.image-description{
  border-style: none;
  display:inline-block;
  width:auto;
}

.big-icon {
  width: 150px;
  padding-right: 20px;
}

.degre {

  font-size: 4rem;
}

.degre:after {
  content: "\00b0 C"
}

.description{
  font-size: 2.5rem;
}

.forecast {
  text-align: center;
  padding-bottom:100%;
}
.error {
  text-align: center;
  padding-bottom:100%;
}

.forecast-group{
  display:inline-block;
  border-style:solid;
  border-color: #324f5b;
}

.forecast-degre {
  position: relative;
  text-align: center;

  font-size: 0.75rem;
  background-color: black;
  opacity: 40%;
  padding:5px;
}

.forecast-hour {

  text-align: center;
  font-size: 0.75rem;
  background-color: black;
  opacity: 40%;
  padding: 5px;

}

.forecast-image {
  width: 80px;
    z-index: -1;
}

.form {
  padding:30px;
  text-align: center;
  font-size: 1.5rem;
}

.form-group{
  display:inline-block;
  text-align: center;
}

.btn-group .button {
  background-color: black;
  border-style:none;
  color: white;
  opacity:40%;
  padding: 15px 20px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: black;
  opacity:50%;
}

.active{
  opacity: 100%;
  background-color: #2b5874;
}

.location{
  text-align: left;
  padding-bottom: 100%;
}



.container{
  margin: auto;
  padding-bottom: 20PX;

}
.container .btn-group{
  padding: 10px 10px;
  background-color: black;
  color: white;
  opacity:50%;
}

.container .btn-group:hover{
    background-color: black;
    opacity:70%;
}
.footer{
  width:100%;
  height:100px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20PX;
  background-color: #2b5874;
  position:fixed;
  bottom:0;
  }
*/
