body {
  background-image: url("/images/bg-image.JPG");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  color: white;
  margin:0;
  font-size: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6d959d;
  opacity:50;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #497285;
}


div .btn-group{
  margin:0;
  padding:0;
  border-style: none;
}

.city{
  padding-top: 50px;
  font-size: 2rem;
}

.date{
  font-size: 1.5rem;
  padding-top: 10px;
}


.current-data{
  text-align: center;
}

.current-group {
    display:inline-block;
}

.image-description{
  border: 1px;
  border-style: none;
  display:inline-block;
  width:auto;
}

.big-icon {
  width: 150px;
  height: 150px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.degre {

  font-size: 4rem;
}

.degre:after {
  content: "\00b0 C"
}

.description{
  font-size: 2.5rem;
}

.forecast {
  text-align: center;
  padding: 10px;
}

.forecast-group{
  display:inline-block;
  border-style:solid;
  border-color: #324f5b;
}

.forecast-degre {
  position: relative;
  text-align: center;

  font-size: 0.75rem;
  background-color: black;
  opacity: 40%;
  padding:5px;
}

.forecast-hour {

  text-align: center;
  font-size: 0.75rem;
  background-color: black;
  opacity: 40%;
  padding: 5px;

}

.forecast-image {
  width: 90px;
  height: 90px;
  z-index: -1;
}

.form {
  padding:50px;
  text-align: center;
  font-size: 1.5rem;
}

.form-group{
  display:inline-block;
  text-align: center;
}

.btn-group .button {
  background-color: black;
  border-style:none;
  color: white;
  opacity:40%;
  padding: 15px 20px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: black;
  opacity:50%;
}

.active{
  opacity: 100%;
  background-color: black;
}

.location{
  text-align: left;
}
.container{
  margin: 40PX 20PX;
  padding-bottom: 20PX;

}
.container .btn-group{
  padding: 10px 10px;
  background-color: black;
  color: white;
  opacity:50%;
}

.container .btn-group:hover{
    background-color: black;
    opacity:70%;
}
.footer{
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20PX;
  background-color: #2b5874;
}
